body {
    padding-top: 50px;
    padding-bottom: 20px;
}

input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    width: 100%;
    margin: 0;
    padding: 0;
}

/*.nav-button {
    font-size: 20px;
    /*transition: color .3s;
}*/

/*.nav-button:hover {
    color: #FF9933;
    background-color: #FF9933;
}*/

.navbar-default .navbar-nav > li > a {
    font-size: 20px;
    transition: color .3s;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #FF9933;
    background-color: initial;
}

.navbar-default .navbar-toggle .icon-bar {
    transition: background-color .3s;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #FF9933;
}

.navbar-brand {
    font-size: 20px;
    visibility: hidden;
    position: absolute;
    margin: 0;
}

@media (max-width: 767px) {
    .navbar-brand {
        visibility: visible;
        position: relative;
    }
}